body{
    margin: 0;
    padding: 0;
    background: url(fondodeskate.jpg);   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
h2 {
font-family: 'Anton', sans-serif;
}